.g-icons{font-size: 31px;padding: 2px;line-height: 41px;float: left;margin-top: 2px;margin-left: 15px;color: gray;}
.text-g-icons{font-size: 24px;padding: 4px;float: left;margin-left: 8px;color: gray;}
.menu-ico{width:100%;float:left;background: #ffffff70;}

.menu-ico:focus {
    outline: none;
    background-color: #e7e7e7;
}
.menu-ico.disabled{
color: rgba(128, 128, 128, 0.16);
}
.menu-ico.disabled span{
color: rgba(128, 128, 128, 0.16);
}
.menu-ico.disabled i{
color: rgba(128, 128, 128, 0.16);
}
.menu-icons div.menu-ico{background: rgba(128, 128, 128, 0.13);color: #696665;border: 1px solid rgba(137, 135, 134, 0.19);width: 100%;float: left;margin: 3px;padding: 2px;text-align: center;border-radius: 5px;}
.display_none{
display:none;
}
.progress{
background-color: #ce8b12;
}
.input-field .prefix.active{
color:#ff9800;
}
.series .collection-item a{color: #948e8e;line-height: 29px;}
.span_right{float: right !important;width: auto !important;}
.header-icon-g{float: left;margin-left: 5px;margin-right: 14px;margin-top: -14px;color: #948e8e;font-size: 41px;}.series .collection-item{width: 100%;float: left;color: #f4f4f4;font-size: 21px;line-height: 25px;background-color: rgb(172, 172, 172);}.series .collection-item i{float: left;margin-right: 10px;color: #948e8e;font-size: 27px;}
.card-content{padding: 0px !important;margin-top: 0px;width:100%;float:left;border: 1px solid rgba(128, 128, 128, 0.22);}

.card-image img{
  max-height: 180px;
  margin: auto;
 }
#question_arabic{
  width: 100%;
  float: left;
  border: 2px solid #ff9800;
  padding: 8px;
  border-radius: 5px;
  text-align: right;
  margin-top: 25px;
  font-weight: bold;
 }

.icon-header-cadr{margin-top: -4px;float: left;margin-right: 8px;color: orange;margin-bottom: 6px;}

#form_chat{border-top: 1px solid #ff9800;position: fixed;bottom: 0;background: rgb(239, 238, 238);left: 0;width: 100%;float: left;padding-left: 1px;padding-top: 4px;z-index: 1111;height: 120px;margin-bottom: 0;}

#form_chat input{width: 99%;float:left;}

#form_chat button{width: 100%;float:left;margin-left:20px;margin-right: 20px;}
.chat-me .card-panel{
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgb(255, 152, 0), 0 3px 1px -2px rgb(255, 152, 0) !important;
}
.rep_q_user{
}
.rep_q_rep_user button{margin-bottom: 10px;}
.h6{
background: white;
padding: 8px;
border-bottom: 1px solid #d4cccc;
padding-bottom: 15px;
margin-bottom: 10px;
}
.resltat_q{
background: #ff9800;
padding: 9px;
color: white;
margin-left: 20px;
float: right;
margin-top: -5px;
}

.mon_compte li{
float: left;
padding-left: 10px !important;
width:100%;
min-height: 30px !important;
}
.mon_compte i{
font-size: 30px;
float: left;
color: #4a4545 !important;
}
.mon_compte span{
font-size: 18px !important;
float: left;
line-height: 32px;
margin-left: 10px;
color: #808080;
}
.msg_date_time{float: right;line-height: 21px;padding-top: 2px;width: 80%;text-align: right;margin-left: 50%;color: #695f5f;margin-top: 2px;}
.msg_date_time span{font-size: 10px;line-height: 23px;float: left;margin-right: 10px;}
.msg_date_time i{font-size: 17px;line-height: 23px;float: left;margin-right: 7px;} 
#all_chat{margin-bottom: 105px;width: 100%;float: left;}
.modal-content{
text-align: center;
}
.modal-content h4.q_n{
padding: 8px;
color: white;
font-size: 16px;
}

.modal-content .row{
  margin-bottom:4px;
}

.modal-content .row b{
 font-size: 14px;
 line-height: 48px;
}
.modal{
   width:90% !important;
}

#angl_chats{position: absolute;bottom: 0;width: 100%;background: #ffffff;z-index: 99999;height: 400px;border-top: 4px solid orange;display: none;}
#all_chat {height:400px;overflow:scroll;width: 100%;float: left;background: white;}
#btn_close_chat{
    float: right;
    margin-right: 30px;
}
.header_chat{width:100%;float:left;border-bottom: 1px solid #ff9800;padding-bottom: 8px;background: white;}
.modal-content .img_q{max-height: 191px;height: auto;width: 100%;}
.resltat_q_a{margin-bottom: 10px;}

.close_modal{float: left;margin-left: 10px;background: orange;color: white;padding: 10px;height: 44px;width: 80px;font-size: 20px;}

.play_rep{font-size: 15px;color: #fafafa;float: left;margin: 0 auto;line-height: 24px;background: orange;text-align: center;padding: 12px;width: 100px !important;height: 44px;border: none;}

.play_rep i{text-align:center;font-size: 21px;line-height: 23px;float: left;margin-left: 6px;color: white;}
.div_msg .card-panel{
padding: 10px;
}
.div_msg_new .card-panel{
background-color: rgba(255, 152, 0, 0.1) !important;
border: 1px solid orange;
}

.div_msg_new_sent .card-panel{
background-color: rgba(3, 169, 244, 0.16) !important;
border: 1px solid #a2c6d8;
}
body{
background: white;
}
.collection li a{width:100%;float:left;background: #ffffffa8;}
.sidenav-avatar .bottom{
text-align: center;
}

.sidenav-avatar .bottom img{
text-align: center;
border-radius: 50%;
margin-top: 17px;
}
.sidenav-avatar span.dropdown-button{
width: 100%;
color: gray;
text-align: center;
border-bottom: 1px solid;
}
#angl_chats .row{margin: 0px;padding: 0;}
 .img_question_cap{width: 80%;cursor: pointer;margin: auto;float: left;background: #ffffff;line-height: 22px;padding: 4px;border: 1px solid rgba(128, 128, 128, 0.36);text-align: center;margin-top: 6px;border-radius: 6px;margin-right: 10%;margin-left: 10%;}
  
    .img_question_cap img{
     height: 32px;
     padding-top: 4px;
     margin-left: 10px;
     color: #9e9e9e;
     margin-top: 0px;
     float: left;
  }
  
      .img_question_cap span{
     font-size: 13px;
     padding-top: 6px;
     line-height: 24px;
     float: left;
     margin-left: 20px;
     color: #ff9800;
     font-weight: bold;
  }
  
  .img_capt_q{
height:160px;
width:auto;
max-width: 100%;
}
.section.no-pad-bot {
 margin-top: -7px;
}
#nom_ecole{
font-size:12px;
}
.img_pub{
width: 100%;
float: left;
}
.img_pub img{
width: 100%;
float: left;
max-height: 120px;
}
#categorie{
 background: #ffffff;
 height: 46px;
 padding: 13px;
}
.collection.with-header{
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    float: left;
    background: #ffffffab;
    padding-top: 10px;
}
.collection.with-header .collection-item {
      border-bottom: 1px solid #929292;
      padding:10px;
      line-height: 18px;
      float: left;
      width: 100%;
      text-align: left;
      font-size: 17px;
      background: white;
}


.collection.with-header .collection-item a span{
    float: left;
    width: 100%;
    color: gray;
}
    .menu_permis{cursor: pointer;}

.collection.with-header .collection-item a span i{
  float: left;
  margin-right: 10px;
  color: gray;
}

#index-banner::after {
  content: "";
  background: url(../images/bg.jpg);
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#index-banner .container{
  background: #ffffff80;
  padding:20px;
  width: 90%;
  margin: auto;
  padding-top: 2px;
  float: left;
  margin-left: 5%;
}
.btn-back{float: left;font-size: 21px;background: #ff9800;color: #ffffff;height: 40px;width: 41px;margin-top: 12px;line-height: 25px;border: 1px solid #ffffff1a;border-radius: 2px;margin-right: 12px !important;}
.btn-back:hover{
    background: #e28b0a;
}
.btn-back i{
 line-height: 42px !important;
}
.rep_q_user .s6 button{width: 100%;border-radius: 0px;height: 39px;margin-top: 10px;font-size: 21px;}
.btn-rep button{
 width: 100%;
 float:left;
 margin-top:8px;
 }
 .footer-btn-hist a{
	 
 }
  .footer-btn-hist a i{
	     line-height: 40px !important;
 }
 .series{
	    max-height: 400px;
    overflow: auto;
 }
 .img_pub{
    margin-top: 10px;
    width: 100%;
    float: left; 
 }
 #code{ 
	    background: white;
    padding-left: 10px;
    color: #1f1f1f;
 } 